.root {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--mt-space-4);
}

@media (min-width: 640px) {
  .root {
    padding-inline: var(--mt-space-6);
  }
}

.root[data-size='sm'] {
  max-width: 40rem;
}
.root[data-size='md'] {
  max-width: 48rem;
}
.root[data-size='lg'] {
  max-width: 64rem;
}
.root[data-size='xl'] {
  max-width: 80rem;
}
